{% extends "templates/web.html" %}
{% block page_content %}
<!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <img src="assets/msmr/img/elternrat_top_down.png" style="max-width: 75%;">
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Willkommen beim Elternrat</h2>
          <p class="text-white-50">Mettlen & Auslikon</p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Familie Section -->
  <section id="familie" class="projects-section bg-light">
      <div class="container">
	 <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-12 col-lg-12">
          <center><img class="img-fluid mb-3 mb-lg-0" src="assets/msmr/img/logo_schule.png" alt=""></center>
        </div>
      </div>
	 </div>
    <div class="container">
	 <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-6 col-lg-6">
<!--
          <img class="img-fluid mb-3 mb-lg-0" src="assets/msmr/img/logo_schule.png" alt="">
-->
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="featured-text text-center text-lg-left">
            <h4>Grundlagen</h4>
            <p class="text-black-50 mb-0">Die Elternmitwirkung in der Schuleinheit wird durch den Elternrat gemäss §55 des
Volksschulgesetzes Kanton Zürich gewährleistet. Der Elternrat ist politisch und konfessionell
neutral. Der Begriff Eltern ist im Sinne der Erziehungsberechtigten gemäss Gesetz definiert. Der
Elternrat wird für die Stufen Kindergarten, Unterstufe und Mittelstufe eingerichtet.</p>
          </div>
        </div>
      </div>
	 </div>
     <div class="container">
	 <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        
        <div class="col-xl-6 col-lg-6">
          <div class="featured-text-left text-center text-lg-left">
            <h4>Zweck</h4>
            <p class="text-black-50 mb-0">Der Elternrat vertritt die Interessen aller Eltern und ihrer Kinder in der Schuleinheit. Er trägt aktiv
zu einem konstruktiven und offenen Verhältnis zur Lehrerschaft und zu den Schulbehörden
bei. Der Elternrat fördert und erhält die partnerschaftliche Zusammenarbeit sowie die
gegenseitige Unterstützung von Eltern und Lehrpersonen zum Wohle der Schülerinnen und
Schüler.</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
<!--
          <img class="img-fluid mb-3 mb-lg-0" src="assets/msmr/img/logo_schule.png" alt="">
-->
        </div>
      </div>
	 </div>
     <div class="container">
	 <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-6 col-lg-6">
<!--
          <img class="img-fluid mb-3 mb-lg-0" src="assets/msmr/img/logo_schule.png" alt="">
-->
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="featured-text text-center text-lg-left">
            <h4>Ziele</h4>
            <p class="text-black-50 mb-0">Das Wohl des Kindes steht im Zentrum. Konkret hat der Elternrat folgende Ziele:
            <ul><li>Die Eltern zur aktiven Mitwirkung in der Schule motivieren</li>
<li>Das Vertrauensverhältnis zwischen Eltern und Schule mittels Transparenz und Offenheit</li>
fördern
<li>Elternanliegen aufnehmen und sie gegenüber der Schule vertreten sowie Anliegen der
Schule an die Elternschaft mitteilen</li>
<li>Die Bereitschaft zur organisatorischen Unterstützung der Schule bei schulischen Anlässen</li>
<li>Durchführung von Elternbildungsanlässen</li>
<li>Organisation von ausserschulischen und schulübergreifenden Projekten</li></ul>
</p>
          </div>
        </div>
      </div>
	 </div>
     <div class="container">

      <div class="row">

        <div class="col-md-2 mb-3 mb-md-0">
          
        </div>

        <div class="col-md-8 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <h4 class="text-uppercase m-0">Ansprechpersonen</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <table style="width: 100%;">
                    <tr>
                        <th>Klasse</th>
                        <th>Elternvertretung</th>
                        <th>Stellvertretung</th>
                    </tr>
                    <tr>
                        <td>6a, Thangarasa</td>
                        <td>Caroline Bobek</td>
                        <td>Nevena Aroutunian Ruben</td>
                    </tr>
                    <tr>
                        <td>6b, Eisenhut & Vuletic</td>
                        <td>Oezlem Yavuz</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>5a, Schaltegger</td>
                        <td>Sabine Schwarz</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>5b, Lanz</td>
                        <td>Ruth Meyer</td>
                        <td>Claudia Burri</td>
                    </tr>
                    <tr>
                        <td>5c, Meier</td>
                        <td>Thomas Schläpfer</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>4a, Schmid</td>
                        <td>Nicole Hensch</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>4b, Kälin & Bocklet</td>
                        <td>Stefanie Weseloh</td>
                        <td>Melanie Feller</td>
                    </tr>
                    <tr>
                        <td>4c, Kuster & Bätschmann</td>
                        <td>Michael Kauz</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>3a, Heuberger</td>
                        <td>Manuela Lötscher</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>3b, Walder</td>
                        <td>Daniel Buchmann</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>3c, Henggeler</td>
                        <td>Thomas Schellenberg</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>2a, Bond</td>
                        <td>Rebecca Keller</td>
                        <td>Jamina Langer</td>
                    </tr>
                    <tr>
                        <td>2b, Lorez</td>
                        <td>Miriam Imhof</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>2c, Gartmann</td>
                        <td>Chantal Biolley</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>1a, Mäder</td>
                        <td>Giovanni Marti</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>1b, Erdin</td>
                        <td>Joël Mesmer</td>
                        <td>Martina Schmidt</td>
                    </tr>
                    <tr>
                        <td>1c, Ammann</td>
                        <td>Martina Bissig</td>
                        <td>Alexandra Müller</td>
                    </tr>
                    <tr>
                        <td>1.-3. Auslikon, Hämmerli & Schneider</td>
                        <td>Mirjam Barberio</td>
                        <td>Samuel Geiges</td>
                    </tr>
                    <tr>
                        <td>KGA, Baer & Geisser</td>
                        <td>Tina Ahron</td>
                        <td>Stefanie Porcelli</td>
                    </tr>
                    <tr>
                        <td>KGB, Blumenthal</td>
                        <td>Vakant</td>
                        <td>Vakant</td>
                    </tr>
                    <tr>
                        <td>KGC, Gomez & Neuner</td>
                        <td>Rebecca Müller</td>
                        <td>Giuliana Tomai</td>
                    </tr>
                    <tr>
                        <td>KGD, Rüttimann & Ryser</td>
                        <td>Fitze Anthony</td>
                        <td>Hauser Fitze Larissa</td>
                    </tr>
                    <tr>
                        <td>KGI, Anderegg</td>
                        <td>Dominik Girgin<br>Yvonne Egger</td>
                        <td>Melanie Stegmaier</td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 mb-3 mb-md-0">
          
      </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-orange"></i>
          <h2 class="text-orange mb-5">Fülle unseren Briefkasten mit Deinen Ideen!</h2>

          <!--<form class="form-inline d-flex">-->
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3" id="inputname" placeholder="Deine Vor- und Nachname ist...">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3" id="inputEmail" placeholder="Deine E-Mail lautet...">
            <textarea class="form-control flex-fill mr-0 mr-sm-2 mb-3" name="message" id="inputIdee" rows="10" cols="30" style="width: 100%;" placeholder="Hier folgt Deine Idee möglichst genau beschrieben..."></textarea> 
            <button id="ideebtn" class="btn btn-primary mx-auto">Idee einreichen</button>
          <!--</form>-->

        </div>
      </div>
    </div>
	  <div class="container" style="margin-top: 3rem;"></div>
	  <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="mailto:elternrat@mettlen-auslikon.ch">elternrat@mettlen-auslikon.ch</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          
      </div>

      <!--<div class="social d-flex justify-content-center">
        <a href="https://github.com/joelios" class="mx-12">
          <i class="fab fa-github"></i>
        </a>
      </div>-->

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; msmr.ch
    </div>
  </footer>
  {% endblock %}
